@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:700,300');

@font-face {
    font-family: Gotham-Book;
    src: url(fonts/Gotham-Book.otf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(fonts/Gotham-Medium.otf);
}

html {
	height: 100%;
	font-family: sans-serif;
	background-color: #111;
}

#loading {
	color: #FFF;
	position: absolute;
}

#canvas {
	z-index: 996;
}

#pause-info {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #FFF;
	display: none;
}

#github {
	position: absolute;
	bottom: 8px;
	right: 12px;
}

#github a {
	color: #FFF;
	text-decoration: none;
}

.content {
	position: absolute;
}

.content #artist {
	color: #FFF;
	display: block;
	font-size: 6.1em;
	font-family: 'Gotham-Medium', 'Raleway', Lato, sans-serif;
	font-weight: 700;
	letter-spacing: -5px;
}

.content #title {
	color: #FFF;
	display: block;
	font-size: 3.5em;
	font-family: 'Gotham-Book', 'Raleway', Lato, sans-serif;
	font-weight: 400;
	margin-top: -7px;
	line-height: 98%;
	margin-left: 5px;
}

.content #title a {
	color: white;
	text-decoration: none;
}

.content #title a:hover {
	text-decoration: underline;
}

#particles {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -99;
}

.ayylmao {
	display: none;
}

.kitty {
	position: absolute;
}

#vig {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    box-shadow: inset 0 0 20em 7em rgba(0,0,0,0.4);
	z-index: 997;
}

.front {
	z-index: 9999;
}

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(18,18,17,0.95);
	z-index:998;
}

#status {
	width:200px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(./img/status.gif);
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px;
}

.cattext{
	color: #FFF; 
	text-align: center; 
	padding-bottom: 75px;
}