@import url('http://fonts.googleapis.com/css?family=Lato:700,900');

@font-face {
    font-family: Gotham-Book;
    src: url(fonts/Gotham-Book.otf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(fonts/Gotham-Medium.otf);
}

html {
	height: 100%;
	font-family: sans-serif;
	background-color: #111;
	/*background: url('./img/bg.png');*/
}

#loading {
	color: #FFF;
	position: absolute;
}

#pause-info {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #FFF;
	display: none;
}

#github {
	position: absolute;
	bottom: 8px;
	right: 12px;
}

#github a {
	color: #FFF;
	text-decoration: none;
}

.content {
	position: absolute;
}

.content #artist {
	color: #FFF;
	display: block;
	font-size: 5.5em;
	font-family: 'Gotham-Medium', 'Raleway', Lato, sans-serif;
	font-weight: 700;
}

.content #title {
	color: #FFF;
	display: block;
	font-size: 3.4em;
	font-family: 'Gotham-Book', 'Raleway', Lato, sans-serif;
	font-weight: 300;
	margin-top: -7px;
	line-height: 98%;
}

.content #title a {
	color: white;
	text-decoration: none;
}

.content #title a:hover {
	text-decoration: underline;
}

#particles {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -99;
}

.ayylmao {
	display: none;
}

.kitty {
	position: absolute;
}
