@import url('http://fonts.googleapis.com/css?family=Lato:700,900');

body {
  font-family: sans-serif;
  background-color: #111;
}

#loading {
  color: #FFF;
}

#pause-info {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #FFF;
	display: none;
}

#github {
	position: absolute;
	bottom: 8px;
	right: 12px;
}

#github a {
	color: #FFF;
	text-decoration: none;
}

.content {
  position: absolute;
  top: 50px;
  left: 50px;
}

.content #artist {
  color: #FFF;
  display: block;
  font-size: 5em;
  font-family: 'Raleway', Lato, sans-serif;
  font-weight: 700;
}

.content #title {
  color: #FFF;
  display: block;
  font-size: 2em;
  font-family: 'Raleway', Lato, sans-serif;
  font-weight: 300;
}

.content #title a {
	color: white;
	text-decoration: none;
}

.content #title a:hover {
	text-decoration: underline;
}

#particles {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -99;
}

.ayylmao {
	display: none;
}

.kitty {
	position:absolute;
}
